<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>ldg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/3523_RC01/embed_loader.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="/js/stomp.min2.3.3.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <link href="/css/room.css" rel="stylesheet">
    <script th:inline="javascript">
        $(() => {
            let username = '';
            let userId = [[${room.userId}]];
            let roomId = [[${room.roomId}]];
            let isSave = [[${room.isSave}]];
            let sockJs = new SockJS("/stomp/chat");
            let stomp = Stomp.over(sockJs);

            if ([[${room.roomId != null}]]) {
                username = prompt("닉네임 입력 : ");

                if (username === null || username === '') {
                    username = "익명";
                }
            }

            function fnSendMessage() {
                let msg = document.getElementById("msg");

                if (isSave) {
                    $.ajax({
                        url: '/api/insert-message'
                        ,type: 'post'
                        ,async: false
                        ,data: {
                            message: msg.value
                            ,roomId: roomId
                            ,registrationId: userId
                            ,registrationName: username
                        }
                        ,error: () => {
                            console.error('문자 전송 중 오류 발생.');
                        }
                    });
                }

                stomp.send('/pub/chat/message', {}, JSON.stringify({
                    roomId: roomId,
                    message: msg.value,
                    writer: username,
                    writerId: userId
                }));
                msg.value = '';
            }

            function fnLoadMessage() {
                $.ajax({
                    url: '/api/select-message'
                    ,type: 'post'
                    ,async: false
                    ,data: {
                        roomId: roomId
                    }
                    ,success: (res) => {
                        res.forEach(e => {
                            fnAppendMessage(e.registrationId, e.registrationName, e.message, e.registrationDatetime.split('T')[1].substring(0, 5));
                        });
                    }
                    ,error: () => {
                        console.log("문자 내용 불러오기 중 오류 발생.");
                    }
                });
            }

            function fnAppendMessage(writerId, writer, message, sendTime) {
                let str;
                if (writerId === userId) {
                    str = `
                            <div class="chat-message-right pb-4">
                                <div>
                                    <img src="/images/user_icon1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">${sendTime}</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                    <div class="font-weight-bold mb-1">${writer}</div>
                                    ${message}
                                </div>
                            </div>
                        `;
                } else {
                    str = `
                            <div class="chat-message-left pb-4">
                                <div>
                                    <img src="/images/user_icon2.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">${sendTime}</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                    <div class="font-weight-bold mb-1">${writer}</div>
                                    ${message}
                                </div>
                            </div>
                        `;
                }

                $("#msgArea").append(str);

                $('#msgArea').scrollTop(9999999999999999999999999999999); //MAX값이 먹지 않아 넣어놓은 임시값
            }

            $(document).on('click', '#btn-create', function (e) {
                e.preventDefault();
                let name = $("input[name='name']").val();

                if (name.trim() === '') {
                    alert("이름을 작성 해주세요.");
                } else {
                    $("#form-create").submit();
                }
            }).on('click', '#button-send', function () {
                fnSendMessage();
            }).on('click', '#close-button', function () {
                $('#qr_code').empty();
                $('#popup').hide();
            }).on('click', '#close-button2', function () {

                $('#popup2').hide();
            }).on('keypress', '#msg', function (e) {
                if (e.keyCode && e.keyCode == 13) {
                    fnSendMessage();
                }
            });

            stomp.connect({}, function () {
                stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                    let content = JSON.parse(chat.body);

                    let writerId = content.writerId;
                    let writer = content.writer;
                    fnAppendMessage(writerId, writer, content.message, fnGetNowTime());
                });

                stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username, writerId: userId}))
            });

            fnLoadMessage();
        });

        function fnShowQRCode() {
            if ([[${room.roomId == null}]]) {
                alert("우선 채팅방을 입장해주세요.");
                return false;
            }

            let qrcode = new QRCode("qr_code", {
                text: window.location.href,
                width: 500,
                height: 500,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });

            qrcode.makeImage();
            $('#popup').show();
        }

        function fnGetNowTime() {
            const nowTime = new Date();
            let h = ('0' + nowTime.getHours()).slice(-2);
            let m = ('0' + nowTime.getMinutes()).slice(-2);

            return h + ':' + m;
        }

        function fnShowTrend() {
            let $html;

            $.ajax({
                url: '/api/google-trends-rss'
                ,dataType: 'text'
                ,async: false
                ,success: function (data) {
                    let xmlDoc = $.parseXML(data);

                    $html = $(`
                        <table>
                            <tr>
                                <th>주제</th>
                                <th>검색된<br>횟수</th>
                                <th>내용</th>
                            </tr>
                        </table>
                    `);

                    $(xmlDoc).find('item').each(function () {
                        let title = $(this).find('title').text();
                        let traffic = $(this).find('ht\\:approx_traffic').text();
                        let description = $(this).find('description').text();
                        $html.append(`
                            <tr>
                                <td>${title}</td>
                                <td>${traffic}</td>
                                <td>${description}</td>
                            </tr>
                        `);
                    });
                }
            });

            $('#trend-content').html($html);
            $('#popup2').show();
        }
    </script>
</head>
<body>
<div class="container p-0">
    <div class="card">
        <div class="row g-0">
            <div class="col-12 col-lg-5 col-xl-3 border-right">
                <div class="flex-grow-0 py-3 px-4 border-top">
                    <form th:action="@{/chat/room}" method="post" id="form-create" class="input-group">
                        <div>
                            <input type="text" class="form-control" name="name" placeholder="채팅방 제목 입력">
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="isSave" value="1"> 저장
                            </label>
                            <label>
                                <input type="radio" name="isSave" value="0" checked> 비저장
                            </label>
                        </div>
                        <button class="btn btn-primary" id="btn-create">제작</button>
                    </form>
                </div>
                <div th:each="room : ${list}">
                    <a th:href="@{/chat/room(roomId=${room.roomId})}" class="list-group-item list-group-item-action border-0" >
                        <div class="d-flex align-items-start">
                            <img src="/images/room_icon.png" class="rounded-circle mr-1" alt="Jennifer Chang" width="40" height="40">
                            [[${room.name}]]
                        </div>
                    </a>
                </div>
                <hr class="d-block d-lg-none mt-1 mb-0">
            </div>
            <div class="col-12 col-lg-7 col-xl-9">
                <div class="py-2 px-4 border-bottom d-none d-lg-block">
                    <div class="d-flex align-items-center py-1">
                        <div class="position-relative">
                            <img src="/images/room_icon.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                        </div>
                        <div class="flex-grow-1 pl-3">
                            <strong th:if="${room.roomId == null}">채팅방을 선택해주세요.</strong>
                            <strong th:if="${room.roomId != null}">[[${room.name}]]</strong>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-lg mr-1 px-3" onclick="fnShowQRCode();">QR</button>
                        </div>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="chat-messages p-4" id="msgArea" th:if="${room.roomId != null}"></div>
                </div>
                <div class="flex-grow-0 py-3 px-4 border-top">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="메시지를 입력해주세요." id="msg">
                        <button class="btn btn-primary" th:if="${room.roomId == null}">전송</button>
                        <button class="btn btn-primary" th:if="${room.roomId != null}" id="button-send">전송</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup" class="popup">
    <div class="popup-content">
        <h2>채팅방 입장 QR 코드</h2>
        <div id="qr_code"></div>
        <button id="close-button">닫기</button>
    </div>
</div>
<div id="popup2" class="popup">
    <div class="popup-content">
        <h2>대화 주제 추천</h2>
        <div id="trend-content">

        </div>
        <button id="close-button2">닫기</button>
    </div>
</div>
</body>
</html>